:root{
  --cor-fundo: rgb(48, 46, 46);
  --cor-cyan: DarkCyan;
  --cor-amarelo-claro: #eceb7f;
  --cor-roxo: #874af7;
  --cor-texto: white;
  --cor-tag-mude: rgb(252, 249, 65);

}

body {
  background-color: var(--cor-fundo);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--cor-roxo);
}

p {
  color: var(--cor-texto);
  font-size: 20px;
}

pre{
  color: var(--cor-texto);
  white-space: pre-wrap;
}

main{
  margin-top: 10px;
  margin-left: 10px;
}

header{
  background-color: var(--cor-roxo);
}

#welcome{
  text-align: center;
  color: var(--cor-texto);
  margin: 0;
}

#mude{
  color: var(--cor-tag-mude);
}

#botao_mude{
  background-color: var(--cor-cyan);
  color: var(--cor-texto);
  border-radius: 5px;
  
}

.nav-link{
  color: var(--cor-texto) !important;
}

.navbar-brand{
  color: var(--cor-texto) !important;
}

.active{
  color: var(--cor-tag-mude) !important;
}


.fa{
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 15px !important;
}

.fa-instagram{
  background: #e4268e;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github{
  background: #3b4b5f;
  color: white;
}