:root{
  --cor-fundo: rgb(48, 46, 46);
  --cor-cyan: DarkCyan;
  --cor-amarelo-claro: #eceb7f;
  --cor-roxo: #874af7;
  --cor-texto: white;
  --cor-tag-mude: rgb(252, 249, 65);
}

body {
  background-color: var(--cor-fundo);
}

h1 {
  color: var(--cor-roxo);
  text-align: center;
}

p {
  font-size: 20px;
  color: var(--cor-texto);
}

#mude{
  color: var(--cor-tag-mude);
}

.barra-superior{
    background-color: var(--cor-roxo);

}

.nav-link{
  color: var(--cor-texto) !important;
}

.navbar-brand{
  color: var(--cor-texto) !important;
}


#botao_mude{
  background-color: var(--cor-cyan);
  color: var(--cor-texto);
  border-radius: 5px;
  
}