header {
    background-image: linear-gradient(to bottom right, var(--color-dark-purple), var(--color-purple));
}

.nav-link {
    color: var(--color-text);
    cursor: pointer;
}

.navbar-brand {
    color: var(--color-text);
}

.active {
    color: var(--color-yellow) !important;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.fa {
    margin-right: 10px;
    margin-top: 5px;
    padding: 13px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 17px;
}

.fa-instagram {
    background: #e4268e;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #3b4b5f;
    color: white;
}